/*these will be the repeated colors through out the css script*/
:root {
    --grey: rgb(65, 62, 62)
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif  
}

/*this will be the name kevin reynolds at the top of the screen*/
header h1 {
    font-family: monospace;
    display: inline-block;
    font-size: 48px;
    color: var(--grey);
     margin: 45px
}

header {
    background: #08a07a6e;
    font-weight: 400;
    font-size: 30px;
}

header::after {
    content:'';
    display: table;
    clear:both;
}

.about-me {
    font-size: 20px;
    float: right;
    width:50%;
    padding-right: 10%;
    margin-top: 60px;
    text-indent: 20px;
   
}

/*sizing of the about me title on the side with its border-right*/
.about-title {
    margin-top: 100px;
    margin-bottom: 300px;
    border-right: 4px solid black;
    height: 400px;
    width: 20%;
}

 /*this is the size of the profile image*/
#me {
    width: 20%;
    float: right;
    margin: 55px;
    
}

.about-work {
     
        margin-top: 100px;
        border-right: 4px solid black;
        height: px;
        width: 20%;
    }


.about-work h1 {
    font-size: 40px;
    margin-left: 30%;
    margin-top: 30px;
    

}

.about-title h1 {
    font-size: 40px;
    margin-left: 30%;
    margin-top: 30px;
}

.about-work h1 {
    font-size: 40px;
    margin-left: 40%;
    margin-top: 30px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
  }

nav {
    float: right;
   
}


nav ul {
    margin: 0%;
    padding: 0;
    list-style: none;
}

/*these are the top navigation tags that take you through out the page*/
nav li {
    display: inline-block;
    margin-left: 70px;
    padding: 45px;
    position: relative;
   
}

nav a {
    color: var(--grey);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: rgb(188, 190, 188);

}

/*this allows a hover bar to come across the top of which ever navigation key your over*/
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color:  var(--grey);
    position: relative;
    top: 0;
    width: 0%;

    transition: all ease-in-out 200ms;
}

nav a:hover::before {
    width: 100%;
}

body {
    margin: 0;
    background: var(--grey);
    font-weight: 200 ;   
}


.boxes-1 a {
   float:right ;
    width: 55%;
    padding-bottom: 10px;
  
}

.boxes-1 h3 {
    float: right;
    margin5px
}

.waves{
    float: right;
width: 55%;
}



#second {
    width: 200px
    
    
    

}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
     
}

.footer h4 {
    font-size: 30px;
    
}






   






   